
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
  }

  /* site is column based : alternatig black and white row for HI 
then rows with black and white columns for each section.*/

  /* main column */
  .column {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    scroll-snap-align: start; /* magnet for smooth scrolling */
    scroll-snap-type: mandatory;
  }

  /* setting column1 for black bg and columns2 for white */
  .column1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 50vh;
    color: whitesmoke;
  }
  .column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 100vw;
    height: 50vh;
    color: darkgray;
  }
  
 
}
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    scroll-snap-align: start; /* magnet for smooth scrolling */
    scroll-snap-type: mandatory;
  }
  .column1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    width: 50vw;
    height: 100vh;
    color: whitesmoke;
  }
  .column2 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: whitesmoke;
    width: 50vw;
    height: 100vh;
    color: darkgray;
  }
}
