@media only screen and (max-width: 600px) {
  footer {
    position: absolute;
    width: 100vw;
    /* scroll-snap-align: end;  */
    text-align: right;
    justify-content: right;
    background-color: black;
  }
  footer p {
    padding: 1vh 5vw;
    font-size: 1.5vh;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
  }
}
